node_modules/
.DS_Store
*.log
android/keystore.properties
android/app/build/
android/build/
android/.gradle/
android/local.properties
*.jks
*.keystore
android/fastprint.keystore
android/captures/
android/.idea/
android/app/release/
client_secret*.json
